body{
    background-image:  linear-gradient(black 80%,#130a00 95%,#331f00 100% );
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #e97100;
    font-size: larger;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main,#Text1{
    /*background-image:  linear-gradient(black 80%,#130a00 95%,#331f00 100% )*/
}
#main,#Text1,input,#input{
   border:  5px inset #9e3a00;
    
}
#main {
    margin:10px;
    background-color:#00000000;
    
    height: 100%;
    width: 60%;
    float: left;
  }
p{
    margin: 0px;
    text-align: left;
}
#q{
    height: 200px;
}
#lastans{
    margin-top: 60px;
    color: #b97e46;
}
input{
    font-size: larger;
    background-color: black;
    color: #e97100;
    width: 100%;
}
input:focus,#input:focus{
    border:  5px inset #cc6930;
    outline-style: none;
}
div {
    padding: 10px;
    text-align: left;
}
button{
    background-color:#000000;
    color: #e97100;
    margin: 10px;
    
}
#Text1{
    margin:10px;

    float: left;
    width:30%;
    height:100%;
    // display: inline-block;
}
#input{
    /*float:left;*/
}

